@use './reset.scss';

body {
    font-family: 'Poppins', sans-serif;
}

a:link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 1em;
}

.header-container img {
    height: 1.5em;
}

.get_app {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    margin: .25em 1em;
}

.nav li a {
    display: flex;
    align-items: center;
    
}

.nav li a img {
    margin: 0 .5em;
}

@media  (max-width: 600px) {

    .nav {
        
        flex-direction: column;
    } 

    .header-container {
        margin-top: 1em;
    }
    
    
}


.banner {
    background-image: url(../images/bg.jpg);
    height: 563px;
    background-size: cover;
}

.sign_up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign_up a {
    margin: 2em;
    color: white;
}

#create_account {
    border: .1em solid white;
    padding: .5em 1em;
    border-radius: .3em;
}